/* .App {
  text-align: center;
} */
/* body{
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* .loginCont{
  background-color: #e6e6e6
}

.forBorder{
  border: 2px solid #3d107b;
} */



